<div>
    <nav class="grey darken-4">
        <div class="nav-wrapper">
            <ul id="slide-out" class="side-nav" materialize-header>
                <li><a href="" id="mobileHomeLink" (click)="goToPage($event,'Home')"><i class="mdi-action-home left"></i>Home</a></li>
                <li><a href="" id="mobileStartedLink"><i class="mdi-av-play-circle-fill left"></i>Getting started</a></li>
                <li><a href="" id="mobileApiLink" (click)="goToPage($event,'Apis','ApiDocList')"><i class="mdi-social-public left"></i>Apis</a></li>
            </ul>
            <ul class="left hide-on-med-and-down" materialize-header>
                <li><a href="" id="homeLink" (click)="goToPage($event,'Home')"><i class="mdi-action-home left"></i>Home</a></li>
                <li><a href="" id="startedLink"><i class="mdi-av-play-circle-fill left"></i>Getting started</a></li>
                <li><a href="" id="apiLink" (click)="goToPage($event,'Apis','ApiDocList')"><i class="mdi-social-public left"></i>Apis</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="" class="right" ng-click="showLoginModal()" ng-if="!authenticated"><i class="mdi-action-system-update-tv left"></i>Login</a>
                    <a href="" class="right" ng-click="onClickLogout()" ng-if="authenticated"><i class="mdi-action-exit-to-app left"></i>Logout</a>
                </li>
            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse" materialize-collapse-button><i class="mdi-navigation-menu"></i></a>
        </div>
    </nav>
</div>